# APP
API_PREFIX=api/v1
PORT=3000
START_HEIGHT=1
COSMOS_SCAN_API=http://cosmos-scan-api.dev.aura.network/
DEPLOYMENT_DATE=2022-01-01T00:00:00.000Z

#VERIFY_CONTRACT_URL
VERIFY_CONTRACT_URL=

# DATABASE
DB_HOST=localhost
DB_PORT=3306
DB_NAME=aura_scan_dev
DB_USER=root
DB_PASS=root
DB_LOGGING=false

# NODE
RPC=https://rpc.dev.aura.network/
API=https://lcd.dev.aura.network/

# ChainInfo
COIN_DENOM=TAURA
COIN_MINIMAL_DENOM=utaura
COIN_DECIMALS=6

# Cache Management
USE_REDIS=0
REDIS_HOST=localhost
REDIS_DB=0
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=
TTL=6

# REDIS SOCKET
REDIS_DB_SOCKET=6
REDIS_ABT_CHANNEL=REDIS_ABT_DEV_CHANNEL

# Sync data
THREADS=15

# INDEXER
INDEXER_CHAIN_ID=auradev_1235-2
INDEXER_V2_URL=https://indexer-v2.dev.aurascan.io/
INDEXER_V2_PATH=api/v2/graphql
INDEXER_V2_DB=auratestnet

#ipfs
IPFS_URL=http://ipfs.dev.aura.network:8080/

# Coingecko
COINGECKO_API=https://api.coingecko.com/api/v3/
COIN_ID=
MAX_REQUEST=250

# Config url
CONFIG_URL=https://explorer.dev.aura.network/assets/config/config.json

#GOOGLE OAUTH2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:3000/api/v1/auth/google/redirect

#JWT
JWT_SECRET=example-secret-token
JWT_TOKEN_EXPIRES_IN='1h'
JWT_REFRESH_TOKEN_EXPIRES_IN='7d'

#ADMIN
ADMIN_INIT_EMAIL=youremail@example.com

EMAIL_HOST=email-smtp.ap-southeast-1.amazonaws.com
EMAIL_USER=XXXX
EMAIL_PASSWORD=XXXX
EMAIL_SENDER_ADDRESS=XXXX
APP_DOMAIN=https://explorer-api.dev.aura.network

BCRYPT_SALT=8

# KMS
KMS_ACCESS_KEY_ID=
KMS_SECRET_ACCESS_KEY=
KMS_REGION=
KMS_API_VERSION=
KMS_ALIAS=

COIN_MARKET_CAP_API_EP=https://pro-api.coinmarketcap.com/v2/
COIN_MARKET_CAP_API_KEY=
PRICE_HOST_SYNC=COINGECKO
PRICE_TIME_SYNC=0 */3 * * * *

GECKOTERMINAL_API=https://api.geckoterminal.com/api/v2/
GECKOTERMINAL_POOL=bsc
COIN_ADDRESS=0x9f1a332c0657ce3f90666ad38dbe2e92793abf5c

# Private Name Tag
LIMITED_PRIVATE_NAME_TAG=10

# ReCaptcha
GOOGLE_RECAPTCHA_SECRET_KEY=

# Firebase
FCM_PROJECT_ID=
FCM_PRIVATE_KEY=
FCM_CLIENT_EMAIL=

# Watch List
WATCH_LIST_LIMIT_ADDRESS=10

### SEI ###
SEI_RPC=
SEI_VERIFY_CONTRACT_URL=

EVMOS_RPC=
JSONRPC=
