<html>
<head>
</head>
<body>
<style>
  html {
    font-family:'Inter' , Roboto, "Helvetica Neue", sans-serif;
  }
  .main {
    padding-top: 60px;
    padding-bottom: 120px;
    margin: auto;
    text-align: center;
  }
  .img-contain {
    margin: auto;
    border-radius: 7px;
    width: 100px;
    height: 100px;
    border: 2px solid #CCD0D5;
    position: relative;
    overflow: hidden;
  }
  .img-contain img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .button-link {
    height: 48px;
    border-radius: 12px;
    padding: 0 24px;
    color: black;
    background: #a070ffad;
    display: inline-block;
    line-height: 48px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
  }
</style>
<div class="main">
    <div class="img-contain">
      <img src="cid:logo" alt="" style="display: block; width: 100%; height: 100%; object-fit: cover;">
    </div>
    <h1 style="margin-top: 32px; margin-bottom: 8px;font-size: 32px">Password reset</h1>
    <h5 style="margin-top: 16px; font-size: 16px; font-weight: bold; color: #868A97">Click this button in case you lost your password or want to reset it.</h5>
    <a href="{{ url }}" class="button-link">Reset my password</a>
    <div style="font-size: 14px; color: #868A97; margin-top: 20px; font-weight: 500">If you did not request a password reset, please ignore this email.</div>
    <div style="font-size: 14px; color: #868A97; margin-top: 4px">Only a person with access to your email can reset your account password</div>
</div>
</body>
</html>
